In [ ]:
1>  ashish = [4,8,15,16,23,42]

In [13]:
2> import pandas as pd

# List of integers
data = [10, 20, 30, 40, 50]

# Create a Pandas Series
series = pd.Series(data)

# Print the Pandas Series
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [17]:
3.>import pandas as pd 
ashish2 ={
    'name':['Alice','Bob','claire'],
    'age':[25,30,27],
    'Gender':['famale','Male','Famale']
}
df = pd.DataFrame(ashish2)
print(df)

     name  age  Gender
0   Alice   25  famale
1     Bob   30    Male
2  claire   27  Famale

In [ ]:
4. In Pandas, a DataFrame is a two-dimensional, tabular data structure, similar to a spreadsheet or SQL table.
It is the most commonly used data structure in Pandas and provides a powerful way to organize and manipulate data.
The DataFrame is a primary data structure for data analysis and data manipulation tasks in Python.


A DataFrame consists of rows and columns, where each column can hold data of different types (e.g., integers,
floats, strings, etc.). It is essentially a collection of Pandas Series that share the same index, and each 
Series represents a column of data. The index of the DataFrame allows for label-based indexing, enabling easy
access to rows and columns.

Here's a brief summary of the differences between a Pandas Series and a DataFrame:

Dimensionality:

Series: A one-dimensional labeled array, similar to a Python list or dictionary with a single column of data.
DataFrame: A two-dimensional tabular data structure with rows and columns, similar to a spreadsheet or SQL table.
Number of Columns:

Series: Contains only one column of data.
DataFrame: Can have multiple columns of different data types.
Indexing:

Series: Has only one index, which is used to access individual elements.
DataFrame: Has two indices - one for rows and one for columns, allowing for easy access to data along both axes.
Usage:

Series: Suitable for working with a single column of data or a one-dimensional dataset.
DataFrame: Suitable for working with multiple columns of data, representing a more complex, structured dataset.
Data Shape:

Series: Contains a single column of data, so it's effectively a 1D data structure.
DataFrame: Contains multiple columns, making it a 2D data structure.




import pandas as pd

# Creating a Pandas Series from a list
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

print(series)


import pandas as pd

# Creating a Pandas DataFrame from a dictionary
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 22],
    'City': ['New York', 'San Francisco', 'Chicago']
}

df = pd.DataFrame(data)

print(df)

In [ ]:
5. Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions
and methods you can use:

head() and tail(): These functions allow you to view the first few rows (head) or last few rows (tail) of a DataFrame.


import pandas as pd

# Create a DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Michael'],
    'Age': [25, 30, 22, 28, 35],
    'City': ['New York', 'San Francisco', 'Chicago', 'Los Angeles', 'Boston']
}

df = pd.DataFrame(data)

print(df.head(3))  # Display the first 3 rows
print(df.tail(2))  # Display the last 2 rows

In [ ]:
6>In Pandas, both Series and DataFrame are mutable data structures, meaning you can modify their contents after
they have been created. However, Panel is an immutable data structure, which means you cannot change its contents
once it's created.

DataFrame: Mutable

Like Series, you can modify the values of DataFrame cells, add or delete rows and columns, perform various data
manipulation operations, and more.
Panel: Immutable

Panel was a 3-dimensional data structure in older versions of Pandas. However, it has been deprecated since
Pandas version 0.25.0, and multi-dimensional data is now better represented using other data structures like
DataFrame or MultiIndex.

In [18]:
6. Create a datafram using multiple series ,explain with an example

SyntaxError: invalid syntax (2248450202.py, line 1)